*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

:target{
    scroll-margin-top: 180px;
}





/* --- modal --- */
.wrapper-window {
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.664);
    width: 100%;
    height: 100vh;
    display: none;
    transition: .2s;
}

.wrapper-window__active{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-window__block {
    background-color: white;
    max-width: 450px;
    padding: 60px 40px 60px 40px;
    position: relative;
    border-radius: 5px;
    animation-name: animate;
    animation-duration: 1s
}

@keyframes animate {
    from {opacity:0}
    to {opacity:1}
  }

.wrapper-window__title {
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 1.15;
}

.input__name,
.input__number{
    display: block;
    outline: none;
    padding: 15px 25px;
    box-shadow: 0px 10px 39px -17px rgba(34, 60, 80, 0.4);
    border-radius: 30px;
    border: 1px solid #e1e1e1;
    width: 100%;
    margin-bottom: 15px;
    font-size: 18px;
}

.wrapper-window__block span{
    margin: 0 0 5px 20px;
    display: block;
}

.wrapper-window__button {
    display: inline-block;
    color: white;
    font-size: 18px;
    background-color:rgb(93, 141, 93);
    border: none;
    padding: 13px 25px;
    border-radius: 30px;
    border: 1px solid rgb(93, 141, 93);
    transition: 0.2s;
    margin-top: 15px;
    cursor: pointer;
}

.wrapper-window__button:hover{
    background-color:rgb(203, 233, 203);
    color:rgb(93, 141, 93);
}

.wrapper-window__button__close{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.wrapper-window__button__close img{
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
    position: absolute;
    right: 20px;
    top: 15px;
}













body{
    background-color: rgb(246, 246, 246);
}

.cont{
    padding-bottom: 80px;
}

.wrapper,
button,
a{
    font-family:'Manrope';
    color: rgb(95, 95, 95);
    outline: none;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0px 18px 19px -6px rgba(83, 187, 90, 0.06);
    background-color: white;
}

.container {
    max-width: 1076px;
    margin: 0 auto;
}

.menu-wrapper {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    margin-right: 15px;
}

.logo p{
    font-size: 16px;
    color: rgb(93, 141, 93);
    line-height: 0.9;
}

.menu-wrapper_num {
    font-size: 20px;
    font-weight: 500;
}

.menu-wrapper_num:hover{
    color: rgb(93, 141, 93);
}

.menu-wrapper_button {
    color: white;
    font-size: 18px;
    background-color:rgb(93, 141, 93);
    border: none;
    padding: 13px 25px;
    border-radius: 30px;
    border: 1px solid rgb(93, 141, 93);
    transition: 0.2s;
    cursor: pointer;
}

.menu-wrapper_button:hover{
    background-color:rgb(203, 233, 203);
    color:rgb(93, 141, 93);
}

.menu-wrapper_button_burger{
    display: none;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    position: relative;
}

.nav-menu_item {
    font-size: 18px;
}

.nav-menu_item a{
    padding: 10px 23px;

}

.nav-menu_item a:hover{
    color:rgb(93, 141, 93);
}

.menu-open{
    display: none;
}

.menu-close{
    border: none;
    background: none;
    outline: none;
    position: absolute;
    right: 100px;
    top: 50px;
    display: none;

}






















/* --- hi --- */

.hi {
    padding-top: 80px;
}

.hi-row{
    display: flex;
    align-items: center;
}

.hi-info {
    font-size: 26px;
    line-height: 1.3; 
}

.hi-info h1{
    display: inline-block;
    border-radius: 20px;
    margin-bottom: 30px;
}

.btn-hi {
    color: white;
    font-size: 18px;
    background-color:rgb(93, 141, 93);
    border: none;
    padding: 13px 70px;
    border-radius: 30px;
    border: 1px solid rgb(93, 141, 93);
    transition: 0.2s;
    outline: none;
}

.btn-hi:hover{
    background-color:rgb(203, 233, 203);
    color:rgb(93, 141, 93);
}

.hi-image {
    transform:  translateY(40px);
}

.back{
    position: absolute;
    opacity: 0.35;
    z-index: -1;
    width: 600px;
    transform: translate(-10%, -10%);
}





















/* --- services -- */



.services-title{
    font-size: 30px;
    margin-bottom: 40px;
}

.services-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 80px;
}

.services-card{
    width: 40%;
    background-color: white;
    text-align: center;
    margin-bottom: 40px;
    padding: 20px 30px 40px 30px;
    border-radius: 20px;
    transition: 0.2s;
}

.services-card:hover{
    transform: scale(1.05);
    box-shadow: 0px 10px 19px -2px rgba(83, 187, 90, 0.2);
}

.services-card:nth-child(3),
.services-card:nth-child(4){
    margin: 0;
}

.services-image img{
    width: 100px;
}

.services-image2 img{
    width: 150px;
}

.services-image3 img{
    width: 135px;
}

.services-image4 img{
    width: 130px;
}

.services-card h3{
    margin-bottom: 20px;
    font-size: 20px;
}

.services-card img{
    margin-bottom: 10px;
}

.card-info {
    line-height: 1.3;
}





















/* --- prices --- */


.carousel {
    margin: 0 auto;
    position: relative;
}

    .carousel .carousel-window {
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
    }
    .carousel .carousel-slides {
        display: flex;
        transition: transform 0.5s;
    }

    .carousel-item{
        background: white;
        border-radius: 30px;
        padding: 200px 100px;
        margin: 0 30px;
    }

    .carousel-item_info {
        font-size: 39px;
        margin-bottom: 30px;
    }

    .carousel-item_price {
        font-size: 39px;
        font-weight: bold;
    }

    .carousel .carousel-prev, .carousel .carousel-next {
        position: absolute;
        top: 45%;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 100px;
        color:rgb(93, 141, 93);
        opacity: 0.7;
        text-align: center;
        font-size: 40px;
        text-decoration: none;
        transition: .2s;
    }
    .carousel .carousel-prev:hover, .carousel .carousel-next:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }
    .carousel .carousel-prev {
        left: 45px;
    }
    .carousel .carousel-next {
        right: 45px;
    }

    .carousel-prev-icon,
    .carousel-next-icon{
        transform: translateY(-2px);
    }

    .first{
        background: url(../img/slider1.jpeg) 300px no-repeat;
        background-size: cover;
        box-shadow: inset 700px 0px 350px rgba(255,255,255, 1);
    }

    .second{
        background: url(../img/slider2.jpg) 230px no-repeat;
        background-size: cover;
        box-shadow: inset 700px 0px 350px rgba(255,255,255, 1);
    }

    .third{
        background: url(../img/slider3.jpg) 230px no-repeat;
        background-size: cover;
        box-shadow: inset 700px 0px 350px rgba(255,255,255, 1);
    }

    .four{
        background: url(../img/slider4.jpg)  no-repeat;
        background-size: cover;
        box-shadow: inset 700px 0px 350px rgba(255,255,255, 1);
    }























/* --- back call --- */

.back-call {
    font-size: 18px;
}

.back-call_info{
    padding: 50px 0 50px 50px;
}

.back-call_title {
    font-size: 30px;
    margin-bottom: 5px;
}

.back-call p{
    margin-bottom: 25px;
}

.back-call_row {
    background: url(../img/pngimg.com\ -\ iphone_PNG5740.png) no-repeat;
    background-size: contain;
    background-position: right;
    display: flex;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 8px 15px -2px rgba(55, 121, 59, 0.22);
}

.input-name,
.input-tel{
    display: inline-block;
    font-weight: 700;
    margin-bottom: 40px;
}

.input-tel{
    margin-left: 30px;
}

.input-name input,
.input-tel input {
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 30px;
    outline: none;
    border: 1px solid #e1e1e1;
    margin-top: 10px;
    box-shadow: 0px 10px 39px -17px rgba(34, 60, 80, 0.4);
}


.back-call_btn {
    display: block;
    color: white;
    font-size: 18px;
    background-color:rgb(93, 141, 93);
    border: none;
    padding: 13px 25px;
    border-radius: 30px;
    border: 1px solid rgb(93, 141, 93);
    transition: 0.2s;
    margin-bottom: 30px;
}

.back-call_btn:hover{
    background-color:rgb(203, 233, 203);
    color:rgb(93, 141, 93);
}

.agreement {
    font-size: 14px;
    color: #b3b3b3;
}

.back-call_image img {
    position: relative;
    bottom: -3px;
    width: 450px;
}


















/* --- contact ---*/

.contact {
    margin-bottom: 100px;
}

.contact-title {
    font-size: 30px;
    margin-bottom: 40px;
}

.contact-row {
    display: flex;
    justify-content: space-between;
}

.contact-image iframe {
    border-radius: 30px;
    width: 600px;
    height: 360px;
    box-shadow: 0px 8px 15px -2px rgba(55, 121, 59, 0.22);
}

.info-contact{
    margin-bottom: 30px;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0px 5px 15px -2px rgba(55, 121, 59, 0.22);
}

.info-contact h3 {
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 30px;
}

.contact-street {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
}

.contact-time {
    font-size: 18px;
}

.contact-social {
    margin-top: 40px;
}

.contact-social_vk img,
.contact-social_mail img {
    width: 25px;
}

.contact-social_vk,
.contact-social_mail{
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    padding: 25px 30px;
    border-radius: 30px;
    box-shadow: 0px 5px 15px -2px rgba(55, 121, 59, 0.22);
}


.contact-social_vk{
    margin-right: 30px;
}

.contact-social_vk img{
    transform: translatey(7px);
}

.contact-social_mail img{
    transform: translateY(3px);
}













/* --- footer --- */

.footer {
    margin-top: auto;
    box-shadow: 0px -18px 19px -6px rgba(83, 187, 90, 0.06);
}


.footer-row {
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: end;
}

.footer-row_root {
    font-size: 14px;
}





/* --- adaptive --- */

@media (max-width: 1024px){
    .container{
        max-width: 900px;
    }

    .hi-image img{
        width: 400px;
    }

    .back-call_row{
        background: url(../img/pngimg.com\ -\ iphone_PNG5740.png) 450px 0px no-repeat;
        background-size: contain;
        background-color: white;
    }
    .contact-row{
        flex-direction: column-reverse;
        align-items: center;
    }

    .contact-image{
        margin-top: 55px;
    }
}

@media (max-width: 768px){
    .container{
        max-width: 568px;
    }

    .carousel{
        display: none;
    }

    .services-card{
        width: 350px;
    }

    .services-card:last-child{
        margin-top: 40px;
    }

    .services-row{
        margin: 0;
    }

    .hi-image{
        display: none;
    }

    .hi-row{
        text-align: center;
    }

    .back{
        transform: translate(-5%, -5%);
    }

    .back-call_row{
        text-align: center;
    }

    .back-call_btn{
        width: 100%;
    }

    .back-call_info{
        padding: 50px;
    }

    .input-tel,
    .input-name{
        margin: 0 0 40px 0;
        text-align: left;
    }

    .input-tel input,
    .input-name input{
        max-width: 200px;
    }

    .input-block{
        display: flex;
        justify-content: space-evenly;
    }

    .services-title,
    .back-call_title,
    .contact-title{
        text-align: center;
    }

    .menu-wrapper_num,
    .menu-wrapper_button{
        display: none;
    }

    .menu-wrapper_button_burger{
        display: inline-block;
        color: white;
        font-size: 18px;
        background-color:rgb(93, 141, 93);
        border: none;
        padding: 13px 25px;
        border-radius: 30px;
        border: 1px solid rgb(93, 141, 93);
        transition: 0.2s;
        cursor: pointer;
    }

    .menu-wrapper_button_burger:active{
        background-color:rgb(203, 233, 203);
        color:rgb(93, 141, 93);
    }

    .menu-wrapper{
        border: none;
    }

    .nav-menu{
        display: none;
    }

    .show-menu{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #7474747e;
        backdrop-filter: blur(10px);
        width: 100%;
        height: 100vh;
        padding: 90px 20px 0 20px;
        z-index: 2;
    }

    .menu-open{
        display: block;
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
    }
    .menu-close{
        display: block;
        cursor: pointer;
        transform: translate(75px, -15px);
    }

    .nav-menu_item{
        padding: 40px 0 10px 0;
        border-bottom: 1px solid #8b8b8b;
        text-align: center;
    }

    .nav-menu_item a{
        color: white;
    }

    .menu-wrapper_button_burger{
        width: 100%;
        margin-top: 40px;
    }
}

@media (max-width: 590px){
    .container{
        width: 100%;
        padding: 0 20px;
    }

    .hi-info h1{
        font-size: 24px;
    }

    .back{
        width: 396px;
    }

    .services-title,
    .back-call_title,
    .contact-title{
        font-size: 20px;
    }

    .back-call_info{
        padding: 15px;
    }

    .back-call_info p{
        font-size: 11px;
    }

    .input-tel,
    .input-name{
        font-size: 16px;
    }

    .input-tel input,
    .input-name input{
        max-width: 140px;
    }

    .agreement{
        font-size: 11px;
    }

    .contact-image iframe{
        width: 100%;
    }

    .info-contact h3{
        font-size: 20px;
    }

    .contact-street,
    .contact-time{
        font-size: 16px
    }

    .contact-social_mail,
    .contact-social_vk{
        font-size: 14px;
        padding: 15px 20px;
    }

    .contact-social_mail img,
    .contact-social_vk img{
        margin-right: 5px;
        width: 20px;
    }

    .wrapper-window__block{
        width: 90%;
    }

    .wrapper-window__title{
        font-size: 16px;
    }

    .wrapper-window__block span{
        font-size: 12px;
    }

    .wrapper-window__button{
        font-size: 12px;
        text-align: center;
        width: 100%;
    }

    .contact-social_mail,
    .contact-social_vk{
        display: block;
        text-align: center;
    }

    .contact-social{
        margin-top: -15px;
    }

    .contact-social_vk{
       margin: 0 0 15px 0;
    }
}

@media (max-width: 390px){
    .container{
        max-width: 100%;
    }

    .back{
        transform: translate(-8%, -5%);
    }

    .contact-social_mail img,
    .contact-social_vk img{
        display: none;
    }

    .contact-social_mail,
    .contact-social_vk{
        padding: 15px 20px;
    }
}